[submodule "prerequisites"]
	path = prerequisites
	url = https://github.com/itkoren/Lets-Node-prerequisites.git
[submodule "examples"]
	path = examples
	url = https://github.com/itkoren/Lets-Node-examples.git
[submodule "exercises"]
	path = exercises
	url = https://github.com/itkoren/Lets-Node-exercises.git
